* {
  --text: #94eeef;
  --pagebackground: #00030a;

  --buttonbackground: #94eeef;
  --buttonhover: #ea0e96;

  --gamebackground: #2c2c2c;
  --gamegrid: #1f1f1f;

  --currentTetromino: #94eeef;
  --placedTetromino: #3cdfe2;
}
