* {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

body {
  width: 100%;
  background-color: var(--pagebackground);
  text-align: center;
}

#game-over {
  position: absolute;

  width: 480px;
  height: 400px;

  top: 340px;
  right: calc(50% - 240px);

  opacity: 0;
  transition: 0.3s;
}
.game-over-visible {
  opacity: 0.92 !important;
}

body h3 {
  font-size: 48px;
  margin-top: 40px;
  color: var(--text);
}

#start-button {
  margin-top: 24px;
  font-size: 40px;

  width: 170px;
  height: 60px;

  outline: none;
  border: none;
  border-radius: 12px;

  background-color: var(--buttonbackground);

  transition: all 0.2s;
}
#start-button:hover {
  background-color: var(--buttonhover);
  cursor: pointer;
}

.grid table {
  margin: 48px auto;

  width: 360px;
  height: 630px;

  background-color: var(--gamebackground);
  border-spacing: 0px;
}

.grid table,
.grid table tr td {
  border: 1px solid var(--gamegrid);
}

.tetromino {
  background-color: var(--currentTetromino) !important;
}
.placedTetromino {
  background-color: var(--placedTetromino);
}

.grid table tr:first-of-type td,
.grid table tr:last-of-type td,
.grid table tr td:first-of-type,
.grid table tr td:last-of-type {
  width: 0px;
  height: 0px;
  background-color: var(--gamegrid);
}
