* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

body {
  width: 100%;
  background-color: var(--pagebackground);
  text-align: center;

  overflow-x: hidden;
}

button {
  transition: 0.2s;
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

#help-button {
  position: absolute;
  top: 121.5px;
  left: calc(50% - 180px);

  font-size: 40px;
  height: 60px;
  width: 60px;
  border-radius: 50%;

  transition: 0.2s;
  background-color: var(--buttonbackground);
}
#help-button:hover {
  background-color: var(--buttonhover);
}

#start-button {
  margin-top: 24px;
  font-size: 40px;
  font-weight: bold;

  width: 170px;
  height: 60px;

  border-radius: 12px;
  background-color: var(--buttonbackground);
}
#start-button:hover {
  background-color: var(--buttonhover);
}

#music-button {
  background-color: rgba(0, 0, 0, 0);

  position: absolute;
  top: 121.5px;
  right: calc(50% - 180px);
}

#music-button img {
  height: 60px;
  transition: 0.2s;

  filter: invert(99%) sepia(38%) saturate(2592%) hue-rotate(162deg)
    brightness(97%) contrast(95%);
}
#music-button:hover img {
  filter: invert(26%) sepia(92%) saturate(6813%) hue-rotate(312deg)
    brightness(94%) contrast(99%);
}

#help-box {
  z-index: 1;
  position: absolute;

  width: calc(358px - 36 * 2px);
  padding: 36px;

  top: 460px;
  right: calc(50% - 179px);

  font-size: 18px;

  opacity: 1;
  color: var(--text);

  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.help-box-visible {
  visibility: visible !important;
}

#game-over {
  position: absolute;

  width: 480px;
  height: 400px;

  top: 340px;
  right: calc(50% - 240px);

  opacity: 0.92;
  transition: 0.3s;

  visibility: hidden;
}
.game-over-visible {
  visibility: visible !important;
}

.oooo {
  position: absolute;

  opacity: 1;
  visibility: hidden;
  transition: 0.3s;
}
.oooo-visible {
  visibility: visible !important;
}

#o {
  width: 200px;

  top: 230px;
  right: calc(50% - 400px);
}
#oo {
  top: 230px;
  left: calc(50% - 420px);
}
#ooo {
  width: 300px;
  height: 240px;

  top: 621px;
  right: calc(50% - 500px);
}
#oooo {
  width: 360px;

  top: 655px;
  left: calc(50% - 560px);
}

body h3 {
  font-size: 48px;
  margin-top: 40px;
  color: var(--text);
}

.grid table {
  margin: 48px auto;

  height: calc(100% - 300px);
  width: calc((100vh - 300px) * 360 / 630);

  background-color: var(--gamebackground);
  border-spacing: 0px;
}

.grid table,
.grid table tr td {
  border: 1px solid var(--gamegrid);
}

.tetromino {
  background-color: var(--currentTetromino) !important;
}
.placedTetromino {
  background-color: var(--placedTetromino);
}

.grid table tr:first-of-type td,
.grid table tr:last-of-type td,
.grid table tr td:first-of-type,
.grid table tr td:last-of-type {
  width: 0px;
  height: 0px;
  background-color: var(--gamegrid);
}

.icons-att {
  position: absolute;
  right: 12px;
  bottom: 12px;

  font-size: 12px;
  color: var(--text);
}
.icons-att a {
  text-decoration: none;
  color: var(--text);
}
